.skills {
    gap: 2%;

    min-height: 100vh;
    width: 100%;

    .skills_header {
        display: flex;
        gap: 5px;
        text-align: left;
        margin-left: 20px;
        font: 200 2em "IBM Plex Mono";
    }

    .skills_header::before {
        content: "#";
        color: $green_ligth;
    }

    .skills_left {
        img {
            @media screen and (max-width: 750px) {
                width: 40vw;
            }
        }
    }

    .skills_content {
        display: flex;
        justify-content: space-around;
        width: 95%;
        max-width: 980px;
        margin: 0px auto;

        @media screen and (max-width: 625px) {
            display: block;
        }
    }

    .skills_cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 35px;
        margin-top: 5em;

        @media screen and (max-width: 750px) {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        .not_found {
            font: 200 1.5em "IBM Plex Mono";
        }
    }
}